.fit-cover {
  object-fit: cover;
}
h1.hero-title, h2.hero-title, h3.hero-title {
  text-shadow: 2px 2px 0 #000000, -2px -2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000;
  color: #ffffff;
  text-stroke: width color;

}


p.my-3 {
  /*text-shadow: 2px 2px 0 #000000, -2px -2px 0 #000000, 2px -2px 0 #000000, -2px 2px 0 #000000;*/
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;

  
  color: #ffffff !important;
}
